#container
{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#topUserArea, #bottomUserArea
{
    height: 33%;
    display: flex;
    justify-content: space-between;
}

#perpareButton
{
    height: 33%;
    display: flex;
    justify-content: center;
}

.userArea
{
    width: 33%;
    border: 2px solid;
    display: flex;
    justify-content: center;
    align-content: center;
}

.textDiv
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.userArea text
{
    font-size: 30px;
    padding-bottom: 30px;
    align-self: center;
}

button
{
    width: 33%;
    font-size: 30px;
}
